.movieWrapper {
  width: 100%;
}

.movieTile {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.movieImage {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}

.movieInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: baseline;
  color: white;
}

.movieName {
  font-size: 18px;
}


.movieYear {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 14px;
  width: 66px;
  height: 26px;
  line-height: 26px;
}

.movieGenres {
  font-size: 14px;

}

.menuButton {
  position: absolute;
  top: 20px;
  right: 33px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.contextMenu {
  position: absolute;
  top: 50px;
  right: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
