.sortControl {
  display: flex;
  align-items: center;
  margin-left: 31%;
}

.sortLabel {
  margin-right: 10px;
  color: white;
}

.sortSelect {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
