.dialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.deleteDialogHeader {
  display: inline-flex;
}

.dialogContent {
  position: relative;
  width: 976px;
  height: 800px;
  background: #232323;
  border-radius: 8px;
  padding: 20px;
}

.deleteDialogContent {
  position: relative;
  width: auto;
  height: auto;
  background: #232323;
  border-radius: 8px;
  padding: 20px;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dialogTitle {
  color: #ffffff;
  margin: 0;
}

.dialogCloseButton {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
}

.deleteMovieText {
  color: white;
}



