.sortAndFilter {
    display: flex;
}

.movieList {
    display: flex;
}

.filtered-count {
    margin-top: 3%;
    color: white;
    text-align: left;
}

.heading {
    display: flex;
    justify-content: space-around;
}

.title {
    color: white;
    font-weight: 300;
    font-size: 40px;
}

.mainBlock {
    background-color: #232323;
    min-height: 80vh;
    width: 1200px;
    margin: 2% auto 0;
}

.logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #F65261;
    font-size: 20px;
}

.logoStart {
    font-weight: 900;
}

header {
    background-image: url('./../public/Header.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 396px;
}

.App {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color: #494646;
    min-height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #232323;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

